 /*
        
		                /       \_____/       \ \
		\ \             \       /     \       / /
		 \ \_____        \_____/       \_____/ /
		 / /*****\       /            / /    \ \
		/ /*******\_____/              \ \__
		\ \*******/     \       /***** /\_\
/*		 \ \*****/       \_____/******* _____ 
		 / /     \       /     \*******/     \ \
/*		/ /       \_____/       \*****/       \ \
		\ \       /*****\       /     \       / /
		 \ \_____/*******\_____/       \_____/ /
		  \_____ \*******/     \       / _____/
/*		        \ \*****/       \_____/ /
		         \_____ \       / _____/
		               \ \_____/ /
		                \_______/



/*//////////////////
///// GENERAL /////
/////////////////*/
* {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	min-height: 100%;
	background-color: #f7cccc;
	font-family: Rubik,OpenSans,Helvetica,sans-serif;
	color: #ff2c2c;
	letter-spacing: -.01em;	
}

/*//////////////////
/// LEFT-CONTAIN //
/////////////////*/
.left {
	float: left;
	width: 60px;
	height: auto;
	background-image: url(http://www.bigsound.buzz/assets/images/pattern-dots-tiny.svg);
	border-top: 1px solid #ff2c2c;
	border-bottom: 1px solid #ff2c2c;
	border-left: 1px solid #ff2c2c;
	border-right: 1px solid #ff2c2c;
	position:fixed;
    height: 100%;
    top: 0;
}

.left-container {
	width: 60px;
	height: 413px;
	position: absolute;
	display: table-caption;
	vertical-align: middle;
	top: 15%;
}

.left-container label {
	width: 100%;
	height: 82.5px;
	display: block;
	position: relative;
	text-align: center;
	font-weight: 700;	
}

.left-container span {
	text-shadow: 0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc;
	display: inline-block;
	width: 33px;
	padding-top: 18px;
	font-size: 12px;
	line-height: 13px;
	cursor: pointer;
}

/*//////////////////
///// TOP-LIST ////
/////////////////*/
.TopLs-Container {
	float: left;
	width: 298px;
	margin-left: 60px;
	font-weight: 500;
	border-right: 1px solid #ff2c2c;
}
 
.logo {
	position: relative;
	border-bottom: 1px solid #ff2c2c;
	height: 229px;
	background-image: url(http://www.bigsound.buzz/assets/images/pattern-dots-dense.svg);
}

.logo h1 {
	position: absolute;
	width: 288px;
	height: 178px;
    top: 25px;
    left: 5px;
    right: 5px;
    bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url(http://www.bigsound.buzz/assets/images/logo-buzz.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.holster {
	width: 80px;
	height: 15px;
	top: 182px;
	left: 50%;
	background-image: url(http://www.bigsound.buzz/assets/images/by-bolster.svg);
	background-position: bottom right;
	z-index: 2000;
}

.top {
	list-style: none;
	margin: 0;
	padding: 0;
} 

.separator {
	position: relative;
	display: block;
	height: 52px;
	background-image: url(http://www.bigsound.buzz/assets/images/pattern-dots-tiny.svg);	
}

.separator-content {
	padding: 15px 0;
	text-shadow: 0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc;	
	text-align: center;
}

.top li {
	border: 1px solid #ff2c2c;
}

.row {
	height: 72px;
	display: block;
	cursor: pointer;
}

.row:hover {
	background-image: url(http://www.bigsound.buzz/assets/images/pattern-dots-tiny.svg);
}
.num {
	width: 70px;
	height: 70px;
	display: inline-block;
	text-align: center;
	padding: 0px 0px;
	border-right: 2px solid #ff2c2c;
}

.name {
	width: 70px;
	display: inline-block;
	padding-top: 14px;
	line-height: 42px;
	text-align: left;
}
/***************
*top-list modal
***************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 950px;
    height: 492.8px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #f7cccc;
    border: 1px solid #ff2c2c;
	text-align: center;
	z-index: 0;
}
/* Modal Content/Box */
.modal-content {
    background-color: ;
}
/* The Close Button */
.close {
    width: 80px;
	height: 80px;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*//////////////////
/// MAIN-CONTAIN //
/////////////////*/
.main-container {
	border-top: 1px solid #ff2c2c;
	border-bottom: 1px solid #ff2c2c;
	border-left: 1px solid #ff2c2c;
	border-right: 1px solid #ff2c2c;
}
