 /*
        
		                /       \_____/       \ \
		\ \             \       /     \       / /
		 \ \_____        \_____/       \_____/ /
		 / /*****\       /            / /    \ \
		/ /*******\_____/              \ \__
		\ \*******/     \       /***** /\_\
/*		 \ \*****/       \_____/******* _____ 
		 / /     \       /     \*******/     \ \
/*		/ /       \_____/       \*****/       \ \
		\ \       /*****\       /     \       / /
		 \ \_____/*******\_____/       \_____/ /
		  \_____ \*******/     \       / _____/
/*		        \ \*****/       \_____/ /
		         \_____ \       / _____/
		               \ \_____/ /
		                \_______/



/*///////////////////
///// GENERAL //////
/////////////////*/
* {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	min-height: 100%;
	background-color: #f7cccc;
	font-family: Rubik,OpenSans,Helvetica,sans-serif;
	color: #ff2c2c;
	letter-spacing: -.01em;	
}

/*///////////////////
/// LEFT-CONTAIN ///
/////////////////*/
.left {
	float: left;
	width: 60px;
	height: auto;
	background-image: url(http://www.bigsound.buzz/assets/images/pattern-dots-tiny.svg);
	border-top: 1px solid #ff2c2c;
	border-bottom: 1px solid #ff2c2c;
	border-left: 1px solid #ff2c2c;
	border-right: 1px solid #ff2c2c;
	position:fixed;
    height: 100%;
    top: 0;
}

.left-container {
	width: 60px;
	height: 413px;
	position: absolute;
	display: table-caption;
	vertical-align: middle;
	top: 15%;
}

.left-container label {
	width: 100%;
	height: 82.5px;
	display: block;
	position: relative;
	text-align: center;
	font-weight: 700;	
}

.left-container span {
	text-shadow: 0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc,0 0 3px #f7cccc;
	display: inline-block;
	width: 33px;
	padding-top: 18px;
	font-size: 12px;
	line-height: 13px;
	cursor: pointer;
}

/*///////////////////
/// MAIN-CONTAIN ///
/////////////////*/
.main-container {
	border-top: 1px solid #ff2c2c;
	border-bottom: 1px solid #ff2c2c;
	border-left: 1px solid #ff2c2c;
	border-right: 1px solid #ff2c2c;
}

/*///////////////////
///// TOP-LIST /////
/////////////////*/
.TopLs-Container {
	float: left;
	width: 298px;
	margin-left: 60px;
	font-weight: 500;
	border-right: 1px solid #ff2c2c;
}
 
.logo {
	position: relative;
	border-bottom: 1px solid #ff2c2c;
	height: 229px;
	background-image: url(http://www.bigsound.buzz/assets/images/pattern-dots-dense.svg);
}

.logo h1 {
	position: absolute;
	width: 288px;
	height: 178px;
    top: 25px;
    left: 5px;
    right: 5px;
    bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url(http://www.bigsound.buzz/assets/images/logo-buzz.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.holster {
	width: 80px;
	height: 15px;
	top: 182px;
	left: 50%;
	background-image: url(http://www.bigsound.buzz/assets/images/by-bolster.svg);
	background-position: bottom right;
	z-index: 2000;
}

.top {
	list-style: none;
	margin: 0;
	padding: 0;
} 

.separator {
	position: relative;
	display: block;
	height: 52px;
	background-image: url(http://www.bigsound.buzz/assets/images/pattern-dots-tiny.svg);	
}

.separator-content {
	padding: 15px 0;
	text-shadow: 0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc,0 0 4px #f7cccc;	
	text-align: center;
}

.top li {
	border: 1px solid #ff2c2c;
}

li .row  {
	height: 70px;
	display: block;
	cursor: pointer;
}

.row:hover {
	background-image: url(http://www.bigsound.buzz/assets/images/pattern-dots-tiny.svg);
}
.num {
	width: 70px;
	height: 70px;
	display: inline-block;
	text-align: center;
	padding: 0px 0px;
	border-right: 2px solid #ff2c2c;
}

.name {
	width: 70px;
	display: inline-block;
	padding-top: 14px;
	line-height: 42px;
	text-align: left;
}
/***************
*top-list modal
***************/
.modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 950px;
    height: 492.8px;
    overflow: auto; /* Enable scroll if needed */
    background-color: #f7cccc;
    border: 1px solid #ff2c2c;
	text-align: center;
	z-index: 0;
}
/* Modal Content/Box */
.modal-content {
    background-color: ;
}
/* The Close Button */
.close {
    width: 80px;
	height: 80px;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*/////////////////////
// RECORD-CONTAINER //
///////////////////*/
.record-container {
	width: 929px;
	height: 638px;
	display: inline;
	float: right;
	position: fixed;
}

.record-head {
	width: 929px;
	height: 48px;
	display: block;
	position: fixed;
	display: table-cell;		
}

.head-content a {	
	text-align: center;
	text-decoration:none;
	font-size: 14px;
	font-weight: 500;
	color: #ff2c2c;
	line-height: 46px;
	cursor: pointer;		
}

.left-head-part, .right-head-part {
	width:  259px;
	height: 46px;
	display: inline-table;
}

.pie {
	display: table-cell;
}

.icon1 {
	width: 28px;
	height: 28px;
	display: table-cell;
	background-image: url(http://www.bigsound.buzz/assets/images/chart-pie.svg);
	background-repeat: no-repeat;
}

.icon2 {
	width: 28px;
	height: 28px;
	display: table-cell;
	background-image: url(http://www.bigsound.buzz/assets/images/chart-bar.svg);
	background-repeat: no-repeat;
}

.right-head-part {
	float: right;
}

.info {
	display: table-cell;
}

.icon3 {
	width: 20px;
	height: 26px;
	display: table-cell;
	background-image: url(http://www.bigsound.buzz/assets/images/icon-info.svg);
	background-repeat: no-repeat;
}

.icon4 {
	width: 28px;
	height: 28px;
	display: table-cell;
	background-image: url(http://www.bigsound.buzz/assets/images/icon-share-hover.svg);
	background-repeat: no-repeat;
}

.hidden-social {
	/*display: none;*/

}

.hidden-social ul li {
	list-style: none;
}
/*
#fondImage { background-image : url(http://www.bigsound.buzz/assets/images/icons-share-fb.svg); width : 28px; height : 28px; }
#fondImage:hover { background-image : url(http://www.bigsound.buzz/assets/images/icons-share-tw.svg); } */

/*/////////////////////
////// TURNTABLE /////
///////////////////*/
.turnTable {
	width: 929px;
	height: 638px;
}	

.turntable-container {
	width: 929px;
	height: 638px;
	display: block;
}

.vinyl {
	width: 490px;
	height: 490px;
	display: block;
	transform: translateX(50%) translateY(50%);
}

.spinning {
	width: 485.773px;
	height: 485.773px;
	margin-top: -200px;
	pointer-events: all;
	border: 3px solid #ff2c2c;
	box-sizing: content-box;
	border-radius: 100%;
	display: block;
	background-color: transparent;
	-moz-animation-play-state: running;
	-moz-animation-name: spin;
	-moz-animation-duration: 40s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}

	@-moz-keyframes spin {

		0% {transform: rotate(0);}

		100% {
		    transform: rotate(360deg);}
	}	    

#record {
	background: url(../img/recorbkg485*485.png);
	cursor: pointer;
}

.label {
    width: 184px;
    height: 184px;
    position: absolute;
    top: 50%;
	left: 50%;
	box-sizing: border-box;
	background-color: #F7CCCC;
	transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
    border: 3px solid #ff2c2c;
    color: #222;     
} 

.label::after {
	content: '';
	width: 18px;
    height: 18px;
    display: block;
    position: relative;
    top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
    border: 3px solid #ff2c2c;
    border-radius: 100%;
}

.arm {
	width: 307px;
	height: 522px;
	position: absolute;
	display: block;
	top: 50px;
	right: 10px;
	background-image: url(http://www.bigsound.buzz/assets/images/arm.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(21.5deg) ease-in-out;
	transition: transform 1s cubic-bezier(.53,.03,.21,.96);
	-ms-transform-origin: 158px 201px;
	transform-origin: 158px 201px;
}

	.arm:hover {
		transform: rotate(21.5deg);
}

